@import url('../../../node_modules/@cawo88/design-token-transformer/build/css/_variables.css');

.storybook-button {
  font-family: var(--typography-text-base-regular-font-family);
  font-size: var(--typography-text-base-regular-font-size);
  font-weight: var(--typography-text-base-regular-font-weight);
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 24px;
  padding: 8px 16px;
  color: var(--color-white);
  background-color: var(--color-gray-600);
}

.storybook-button:hover {
  background-color: var(--color-gray-700);
}

.storybook-button--simple {
  border-radius: 4px;
}

.storybook-button--rounded {
  border-radius: 100px;
}
